body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a{
  text-decoration: none;
  color: white;
}

.projects{
  display: flex;
  justify-content: start;
}

.cover{
  width: 400px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.card{
  background-color: lightskyblue;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.title{
  margin: 5px 0px;
}

.about-project{
   margin: 8px 0px;
  width: 400px;
}

.btn-project{
  margin: 8px 0px;
  background-color: #2b2839;
  border-radius: 3px;
  border: none;
  padding: 8px 16px;
  font-family: inherit;
  font-weight: 600;
}