@font-face{
  src:url("../fonts/CabinetGrotesk-Regular.otf");
  font-family: "Cabinet";
}
body {
  font-family: "Cabinet";
}

a{
  margin-left: 10px;
  margin-right: 10px;
  color: #2b2839;
  text-decoration: none;
}

h2{
  text-align: center;
}

button{
  color: white;
  font-family: inherit;
  padding: 10px 20px;
  background-color: #1178ff;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
}

.nav-bar{
  margin: 0;
  display: flex;
  padding: 10px;
  justify-content: center;
  background-color: aqua;
}

.card{
  display: flex;
  width: 450px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: aliceblue;
  padding: 20px;
  background-color: #74b0fd;
  border-bottom: 5px solid navy;
}

.btn{
  padding: 8px 16px;
  background-color: #1178ff;
  color: white;
  border: 0;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
}

.image{
  width: 200px;
}