body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
  color: #2b2839;
}

button{
  padding: 5px 10px;
  font-weight: bold;
  font-family: inherit;
  background-color: aqua;
  border: 0;
  border-radius: 5px;
}

.hero{
  height: 500px;
  background-image: url("../images/hero-image.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#visit-text, #welcome-text{
  padding: 8px 16px;
  color: aliceblue;
  background-color:#2b2839;
  border-radius: 5px;
}

.about{
  width: auto;
  margin: 0 auto;
  padding:50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: aqua;
}

.img-places{
  width: 200px;
  height: 165px;
  border-radius: 50%;
}

.card{
  margin: 50px auto;
  width: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: darkcyan;
  color: aliceblue;
  border-bottom: 5px solid aqua;
  padding: 20px;
  font-style: italic;
}

#img-guide{
  width: 250px;
  height: 300px;
  background-image: url("../images/03.jpg");
  background-size: cover;
}

#img-guide:hover{
  background-image: url("../images/mj.jpg");
}

#about-guide{
  width: 300px;
}